<p id="notice"><%= notice %></p>

<h1>Accounting Statements</h1>

<table class="uk-table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Net</th>
      <th>Vat</th>
      <th>Frontpage image</th>
      <th>Backpage image</th>
      <th>Bill No.</th>
      <th>Bill Date</th>
      <th>Payment At</th>
      <th>Description</th>
      <th>Location</th>
      <th>Receiver / Issuer</th>
      <th>Category</th>
      <th>Corporation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounting_statements.each do |accounting_statement| %>
      <tr>
        <td><%= (accounting_statement.is_income) ? "Income" : "Costs" %></td>
        <td><%= accounting_statement.net_amount %></td>
        <td><%= accounting_statement.vat_amount %></td>
        <td>
			<% if accounting_statement.has_frontpage? %>
				<%= link_to "Show", front_image_accounting_statement_path(id:accounting_statement.id), :target => "_blank" %>
			<% end %>
		</td>
        <td>
			<% if accounting_statement.has_backpage? %>
				<%= link_to "Show", back_image_accounting_statement_path(id:accounting_statement.id), :target => "_blank" %>
			<% end %>
		</td>
        <td><%= accounting_statement.bill_number %></td>
        <td><%= accounting_statement.issuedate %></td>
        <td><%= accounting_statement.payment_date %></td>
        <td><%= accounting_statement.description %></td>
        <td><%= accounting_statement.physical_location %></td>
        <td><%= accounting_statement.receiver_or_issuer_name %></td>
        <td><%= accounting_statement.accounting_category %></td>
        <td><%= accounting_statement.corporation %></td>
        <td><%= link_to 'Show', accounting_statement %></td>
        <td><%= link_to 'Edit', edit_accounting_statement_path(accounting_statement) %></td>
        <td><%= link_to 'Destroy', accounting_statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accounting statement', new_accounting_statement_path %>
