<!DOCTYPE html>
<html>
<head>
  <title>Businessapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="uk-navbar">
	    <ul class="uk-navbar-nav">
	        <li><%= link_to 'Owners', owners_path %></li>
	        <li><%= link_to 'Corporations', corporations_path %></li>
		    <li><%= link_to 'Categories', accounting_categories_path %></li>
	    </ul>
	</nav>

<%= yield %>

</body>
</html>
